
<div class='main-wrapper'>
  <div class='container'>
    <h1>URL SHORTNER</h1>
    <div class='col'>
    <%= form_for Url.new, url: '/' do |form| %>
      <div class='input-group'>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Enter the URL'  %>
        <%= form.submit "Shorten URL", class: "btn btn-outline-secondary" %>
      </div>
    <%end%>

    <% flash.each do |type, msg| %>
    <div class='alert <%= "alert-#{flash_html_class(type)} py-1 mt-3" %>'>
    <%= msg.html_safe %>
    </div>
    <% end %>
    </div>
  </div>
</div>